{% macro adminHeader() %}
    <ul>
        <li><a href="{{ path('shop_admin_index') }}">go to admin page</a></li>
        <li><a href="{{ path('admin_product_new') }}">Add product</a></li>
    </ul>
{% endmacro %}

{% macro header() %}
    {% set menuList = [
    {'name' : 'Main', 'route' : path('main_page')},
    {'name' : 'Contacts', 'route' : path('contacts_page')},
    {'name' : 'About', 'route' : path('about_page')},
    { 'name' : 'Cart', 'route' : path('cart_page')},
    ] %}
    <div class="header">
        <h1>Page title</h1>
        <ul class="header-menu">
            {% for menu in menuList %}
                <li><a href="{{ menu.route }}">{{ menu.name }}</a></li>
            {% endfor %}
            {% if  app.user %}
                <li>
                    <strong>{{ app.user.username }}
                        {% if is_granted('ROLE_ADMIN') -%}{{ _self.adminHeader() }}{% endif %}
                    </strong>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Logout</a>
                </li>
            {% else %}
                <li><a href="{{ path('shop_login') }}">Log in</a></li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="footer">
        (c)2014
    </div>
{% endmacro %}

{% macro productActionsBlock(product) %}
    {% if is_granted('ROLE_ADMIN') -%}
        <ul>
            <li>
                <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <form name="form" method="post" action="{{ path('admin_product_delete', { 'id': product.id }) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" id="form_submit" name="form[submit]">Delete</button>
                </form>
            </li>
        </ul>

    {% endif %}
{% endmacro %}

{% macro printProduct(product) %}
    <img src="{{ product.image }}" align="left"/><strong>{{ product.title }}</strong>
    <button>Buy</button>
    <p>{{ product.description|raw }}</p>{{ _self.productActionsBlock(product) }}
{% endmacro %}
