{% macro header() %}
    {% set menuList = [
        {'name' : 'Main', 'route' : path('main_page')},
        {'name' : 'Contacts', 'route' : path('contacts_page')},
        {'name' : 'About', 'route' : path('about_page')},
        { 'name' : 'Cart', 'route' : path('cart_page')}
    ] %}
    <div class="header">
        <h1>Page title</h1>
        <ul>
            {% for menu in menuList %}
                <li><a href="{{ menu.route }}">{{ menu.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="footer">
        (c)2014
    </div>
{% endmacro %}

{% macro printItem(item) %}
    <img src="{{ item.img }}" align="left"/><strong>{{ item.title }}</strong><button>Buy</button>
    <p>{{ item.decriptions|raw }}</p>
{% endmacro %}
