{% extends 'base.html.twig' %}

{% macro printItem(item) %}
    <img src="{{ item.img }}" align="left"/><strong>{{ item.title }}</strong><button>Buy</button>
    <p>{{  item.decriptions|raw }}</p>
{% endmacro %}

{% block body %}
    {{ include('WebSiteBundle:_common:_header.html.twig') }}
    <ul class="items">
        {% for item in items %}
            <li>{{ _self.printItem(item) }}</li>
        {% endfor %}
    </ul>

    {{ include('WebSiteBundle:_common:_footer.html.twig') }}
{% endblock %}

